#snackbar {
  background: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  text-align: center;
  visibility: hidden;
  transform: translateZ(0);
}

#snackbar p {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 100%;
  font-size: 15px;
  color: white;
  transform: translateZ(0);
}

.snackbar-visible {
  visibility: visible !important;
  animation: fadein 0.5s, fadeout 0.5s 2s;
  transform: translateZ(0);
}